include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include SW_Content_Register_spsdk_lauterbach.txt
include requirements*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude .github *
prune tests

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
