click
colorama
prettytable
typing_extensions
black[jupyter]
pytest
pytest-cov
pytest-xdist
pylint>=3.3.0
spsdk-pylint-plugins
PyGithub
pyyaml
mypy
isort
radon
pydocstyle[toml]
tomli
nbqa
types-pyyaml
types-requests
bandit[toml]
defusedxml
ruff
