bandit[toml]
black[jupyter]
click
colorama
defusedxml
GitPython
isort
jinja2
mypy
nbqa
prettytable
pydocstyle[toml]
PyGithub
pylint>=3.3.0
pytest
pytest-cov
pytest-xdist
pyyaml
radon
ruff
spsdk-pylint-plugins
tomli
types-pyyaml
types-requests
typing_extensions
